doctype html
html
  head
    title React App
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    // your own minifed css
    link(rel='stylesheet', href='/css/all.css')
    // Bootstrap Core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    //- link(href='/css/sb-admin.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='/css/plugins/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(src='//www.parsecdn.com/js/parse-1.6.7.min.js')
  body
    #content
    // React latest
    script(src='/js/bundle.js')
